<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MADE.UnitTests.Droid.MADE.UnitTests.Droid" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="MADE.UnitTests.Droid"></application>
</manifest>